@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");

html, body {
  width: 100vw;
  background-color: black;
  color: white;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'Mona Sans', sans-serif;
}

/* Setting up Colors acc to Figma Design */
@theme {
  --color-white-50: #D9ECFF;
  --color-yellow-50: #FFE873;
  --color-yellow-100: #E6D268;
  --color-purple-50: #D2A6FF;
  --color-purple-100: #763CAC;
  --color-purple-200: #484892;
}

/* Custom Utility Classes that one might wanna use */
@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-col-center {
    @apply flex flex-col justify-center items-center;
  }
}

/* Define Custom Styles scoped to other components */
@layer components {
  .section-padding {
    @apply px-5 md:px-10 md:mt-40 mt-20;
  }
  .hero-layout {
    @apply relative z-10 xl:mt-20 mt-32 md:h-dvh h-[80vh] flex xl:items-center items-start justify-center;
  }
  .hero-text {
    @apply flex flex-col justify-center md:text-[60px] text-[30px] font-semibold relative z-10 pointer-events-none;
    img {
      @apply size-8 md:size-10 object-contain;
    }
    .slide {
      @apply absolute pt-0 px-2 md:px-5 py-[30px] h-[48px] md:h-[78px] md:translate-y-1 translate-y-0 overflow-hidden;
    }
  }
}

.slide {
  display: inline-block;
  flex-direction: column;
  transition: all cubic-bezier(0.71, 0.03, 0.34, 1);
}

.wrapper {
  display: flex;
  flex-direction: column;
  animation: wordSlider 21s infinite cubic-bezier(0.9, 0.01, 0.3, 0.99);
}

@keyframes wordSlider {
  0% { transform: translateY(0.5%) }
  12.5% { transform: translateY(-12.5%) }
  25% { transform: translateY(-25%) }
  37.5% { transform: translateY(-37.5%) }
  50% { transform: translateY(-50%) }
  62.5% { transform: translateY(-62.5%) }
  75% { transform: translateY(-75%) }
  87.5% { transform: translateY(-87.5%) }
}